/**
 *
 * Apply your custom CSS here
 *
*/

body {
    font-family: 'Microsoft YaHei';
}

a {
}

.count {
    height: 90%;background-color: #f2f4f5;text-align: center;padding-top: 15px;
}

.lowline{
    height: 10%;
}

.myfix{
    height: 120px;width: 17%;margin-left: 3%;padding-left: 0px;padding-right: 0px
}

.myleftfix{
    height: 120px;width: 17%;padding-left: 0px;padding-right: 0px
}